header {
  display: flex;
  justify-content: space-between;
  background-color: var(--magenta);
  padding: 1.3em 10em;
  align-items: center;
    position: fixed;
    min-width: 83.2%;
    
  
  @media (max-width: 768px) {
    padding: .8em 1.4em;
    min-width: 88.5%;
  }
}

header>a>img {
  height: 1.5em;
  padding-right: 2em;

  @media (max-width: 768px) {
    height: 1em;
    padding-right: 1em;
  }
}

header>p {
  color: var(--white);
  font-size: 1em;
  letter-spacing: .05em;

  @media (max-width: 768px) {
    font-size: .8em;
    font-weight: 500;
  }
}