header {
  display: flex;
  justify-content: space-between;
  background-color: var(--magenta);
  padding: .95em 8em;
  align-items: center;
  position: sticky;
  top: 0;
    
  
  @media (max-width: 768px) {
    padding: .8em 1.4em;
  }
}

header>a>img {
  height: 1.4em;
  padding-right: 2em;

  @media (max-width: 768px) {
    height: 1em;
    padding-right: 1em;
  }
}

header>p {
  color: var(--white);
  font-size: .9em;
  letter-spacing: .05em;

  @media (max-width: 768px) {
    font-size: .8em;
    font-weight: 500;
  }
}