.section1 {
  display: flex;
  padding: 11.5em 10em;
  align-items: center;
  justify-content: center;
}

.section1>img {
  height: 16em;
}

.section1>div {
  padding-left: 1.5em;
}

.section1>div>h1 {
  font-weight: 800;
  color: var(--magenta);
  font-size: 2.4em;
  width: 13em;
  line-height: 1em;
  padding-bottom: .15em;
}

.section1>div>h3 {
  width: 21em;
  color: var(--black);
  font-size: 1.15em;
  line-height: 1.2em;
  padding-bottom: 1em;
}

.section1>div>a {
  background-color: var(--magenta);
  color: var(--white);
  border: solid .1em var(--magenta);
  text-decoration: none;
  font-weight: 600;
  padding: .4em 1.6em;
  border-radius: 8em;
  margin-left: 5em;
}

.section1>div>a:hover {
  color: var(--magenta);
  background-color: var(--white);
}