.section5 {
    padding: 4em 10em 0em;

    @media (max-width: 768px) {
        padding: 1.4em 1.5em;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    
}
.title>h1 {
    color: var(--magenta);
    font-size: 1.95em;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 1.2em;
    }
}

.title>h2 {
    text-align: end;
    color: var(--magenta);
    font-size: 1.6em;
    font-weight: 600;
    @media (max-width: 768px) {
        font-size: .75em;
        padding-top: .2em;
        font-weight: 500;
        display: none;
    }
}

.container5 {
    display: flex;
    justify-content: center;
    padding: 8em 0em 6em;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-direction: column;
        width: auto;
        padding: 5em 0em 4.5em;
    }
}

.container5>h1 {
    text-align: end;
    color: var(--magenta);
    font-size: 1.85em;
    font-weight: 600;
    padding-right: .6em;
    line-height: 1.1em;
    width: 10.55em;
    @media (max-width: 768px) {
        width: auto;
        padding-right: 6em;
        text-align: start;
        font-size: 1.05em;
    }
}

.container5>p {
    color: var(--black);
    font-size: 1.3em;
    line-height: 1.35em;
    width: 21.5em;
    @media (max-width: 768px) {
        width: auto;
        font-size: .9em;
        padding-top: .5em;
        padding-left: 2em;
        text-align: end;
    }
}

.end {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        /* justify-content: end; */
    }
}

.end>img {
    width: 11em;
    padding-bottom: 2.5em;
    @media (max-width: 768px) {
        /* display: none; */
        width: 5em;
        padding: 1em 0em;
    }
}

.zap {
    display: flex;
    align-items: center;
}

.zap>h2 {
    text-align: end;
    font-weight: 600;
    font-size: 1em;
    line-height: 1.15em;
    width: 8.5em;
    padding-right: .5em;
    @media (max-width: 768px) {
        width: auto;
        font-size: .75em;
    }
}

.btn{
   display: flex;
   align-items: center; 
   text-decoration: none;
}

.btn>img {
    height: 4.7em;
    cursor: pointer;
    padding-bottom: .25em;
    @media (max-width: 768px) {
        height: 3.7em;
    }
}

.btn>p {
    cursor: pointer;
    width: 3em;
    color: var(--magenta);
    font-size: .8em;
    @media (max-width: 768px) {
        width: 2.7em;
    }
}