.section5 {
    padding: 2.5em 8em 0em;

    @media (max-width: 768px) {
        padding: 1.4em 1.5em;
    }
}

.title {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-direction: column;
    }
    
}
.title>h1 {
    color: var(--magenta);
    font-size: 1.7em;
    font-weight: 700;
    @media (max-width: 768px) {
        font-size: 1.2em;
    }
}

.title>h2 {
    text-align: end;
    color: var(--magenta);
    font-size: 1.2em;
    font-weight: 600;
    @media (max-width: 768px) {
        font-size: .75em;
        padding-top: .2em;
        font-weight: 500;
        display: none;
    }
}

.container5 {
    display: flex;
    justify-content: center;
    padding: 8em 0em 6em;
    flex-wrap: wrap;
    @media (max-width: 768px) {
        flex-direction: column;
        width: auto;
        padding: 5em 0em 3.7em;
    }
}

.container5>h1 {
    text-align: end;
    color: var(--magenta);
    font-size: 1.55em;
    font-weight: 600;
    padding-right: .6em;
    line-height: 1.1em;
    width: 10.55em;
    @media (max-width: 768px) {
        width: auto;
        padding-right: 6em;
        text-align: start;
        font-size: 1.05em;
    }
}

.container5>p {
    color: var(--black);
    font-size: 1.08em;
    line-height: 1.32em;
    width: 21.5em;
    @media (max-width: 768px) {
        width: auto;
        font-size: .85em;
        padding-top: .5em;
        padding-left: 2em;
        text-align: end;
    }
}

.end {
    display: flex;
    justify-content: space-between;
    @media (max-width: 768px) {
        justify-content: center;
    }
}

.end>img {
    width: 10em;
    padding-bottom: 2.5em;
    @media (max-width: 768px) {
        display: none;
        /* width: 5em;
        padding: 1em 0em; */
    }
}

.zap {
    display: flex;
    align-items: center;
}

.zap>h2 {
    text-align: end;
    font-weight: 600;
    font-size: .85em;
    line-height: 1.15em;
    width: 8.5em;
    padding-right: .5em;
    @media (max-width: 768px) {
        width: auto;
        font-size: .75em;
    }
}

.btn{
   display: flex;
   align-items: center; 
   text-decoration: none;
}

.btn>img {
    height: 4.1em;
    cursor: pointer;
    padding-bottom: .25em;
    @media (max-width: 768px) {
        height: 3.7em;
    }
}

.btn>p {
    cursor: pointer;
    width: 3em;
    color: var(--magenta);
    font-size: .8em;
    @media (max-width: 768px) {
        width: 2.7em;
    }
}

.cta_form {
    text-decoration: none;
    background-color: var(--magenta);
    color: var(--white);
    font-size: 1.1em;
    font-weight: 600;
    border-radius: 8em;
    padding: .7em 1.6em;
    margin-bottom: .5em;
    width: 13.5em;
    text-align: center;
    line-height: 1.1em;
    @media (max-width: 768px) {
        font-size: .9em;
        margin-bottom: 1.5em;
        margin-top: 0em;

    }
}