@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@import './reset.css';

:root {
  --white: #F5ECEC;
  --black: #251E1E;
  --lime: #E0F556;
  --magenta: #DF23B6;
}

body {
  font-family: raleway;
  background-color: var(--white);
}
